* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #081c29;
    color: white;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

.home-content p {
    font-size: 1.3em;
    line-height: 1.5em;
    letter-spacing: 2px;
}

.mobile {
    display: none;
}

/* @media (max-width:400px){
    .main{
        display: none;
    }

    .mobile{
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .image{
        width: 70%;
        height: 80%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #00eeff,0px 0px 25px #00eeff,0px 0px 50px #00eeff,0px 0px 100px #00eeff;
        background-color: transparent;
        margin-bottom: 1em;
    }

    .mob-dev-img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .desc-container{
        width: 50%;
        font-size: 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    div:nth-child(1){
        animation: mobile-span-1 2s infinite;
        transition: all .3s ease;
    }

    div:nth-child(2){
        animation: mobile-span-1 2s infinite;
    }

    div:nth-child(3){
        animation: mobile-span-1 2s infinite;
    }

    div:nth-child(4){
        animation: mobile-span-1 2s infinite;
    }

    div:nth-child(5){
        animation: mobile-span-1 2s infinite;
    }

    @keyframes mobile-span-1 {
        0%{
            transform: translateY(-5px)
        }
        50%{
            transform: translateY(5px)
        }
        100%{
            transform: translateY(-5px)
        }
    }

} */

/* header css */

header {
    position: sticky;
    top: 0;
    background-color: #081c29;
    color: white;
    font-size: 1.5em;
    padding: 10px 20px;
    width: 100%;
    height: 3em;
    z-index: 1000;
}

header.scrolled {
    /* position: sticky; */
    box-shadow: 0 0 10px #00eeff;
    background-color: white;
    opacity: 0.98;
    transition: .5s ease-in;
}

header.scrolled a {
    color: black;
    transition: .5s ease-in;
}

header .hideOnDesktop {
    fill: black;
}

nav ul {
    position: relative;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    height: 50px;
}

nav a {
    height: 100%;
    text-decoration: none;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    color: white;
    opacity: 0;
    animation: slide-down 1s ease forwards;
    transition: .5s ease-in;
    animation-delay: calc(.2s * var(--i));
}

nav a:hover {
    color: #00eeff;
    transition: .2s all ease-out;
    text-decoration: none;
}

nav li:nth-child(1) {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(240, 248, 255, 0.2);
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

@media (max-width:800px) {

    .hideOnMobile {
        display: none;
    }
}

@media (min-width:800px) {

    .hideOnDesktop {
        display: none;
    }
}

@media (max-width:400px) {

    .sidebar {
        width: 100%;
    }
}


/* home css */

.home {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #081c29;
    width: 100%;
    height: 100vh;
    color: white;
}

.container {
    position: relative;
    /* top: 2.7em; */
    width: 100vw;
    padding: 0px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.home-content {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: moccasin; */
}

.home-content h1 {
    margin-bottom: 0.2em;
    opacity: 0;
    animation: slide-right 1s ease forwards;
    animation-delay: .5s;
}

.home-content h2 {
    margin-bottom: 0.2em;
    opacity: 0;
    animation: slide-down 1s ease forwards;
}


.home-content h3 {
    margin-bottom: 1em;
    width: 80%;
    opacity: 0;
    animation: slide-up 1s ease forwards;
    animation-delay: .7s;
}

.home-content p {
    margin-bottom: 1em;
    width: 80%;
    opacity: 0;
    animation: slide-left 1s ease forwards;
    animation-delay: .9s;

}

.home span {
    color: #00eeff;
}


.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    list-style-type: none;
    margin-bottom: 1.2em;
}


.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1em;
    color: #00eeff;
    border: 1px solid #00eeff;
    font-size: 1.5em;
    opacity: 0;
    animation: slide-left 1s forwards;
    animation-delay: calc(.2s * var(--i));
    transition: .5s ease-in;
    /* background-color: black; */
}

.social a:hover {
    background: #00eeff;
    color: black;
    box-shadow: 0 0 5px #00eeff, 0 0 10px #00eeff, 0 0 10px #00eeff, 0 0 10px #00eeff;
    transition: .3s ease-in;
}

.social {
    color: black;
}

.btn {
    width: max-content;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #00eeff;
    margin-right: 1em;
    border: none;
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 1s;
    transition: .3s ease-in;
}

.btn a {
    color: black;
    font-size: 1.3em;
    text-decoration: none;
    box-shadow: 0 0 5px #00eeff, 0 0 25px #00eeff;
}

.btn:hover {
    box-shadow: 0px 0px 5px #00eeff, 0px 0px 25px #00eeff, 0px 0px 50px #00eeff, 0px 0px 100px #00eeff;
    transition: .3s ease-in;
}

.home-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
}


.home-img {
    display: block;
}



.profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: #000; */
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 1s;
}



.profile-pic {
    position: absolute;
    border-radius: 50%;
    background-color: aliceblue;
    z-index: 1;
    background-image: url('/assets/img/');
    width: 95%;
    height: 95%;
}

.profile-pic:hover {
    cursor: pointer;
}

.circle-1 {
    position: absolute;
    width: 497px;
    height: 497px;
    border-radius: 50%;
    /* background-color: red; */
    border-width: 3px;
    border-style: solid;
    border-color: #00eeff #00eeff #00eeff transparent;
}

.profile .circle-1 {
    animation: rotate-circle-1 2s infinite;
    transition: 0.5s linear;
}

.profile .circle-2 {
    animation: rotate-circle-2 2s infinite;
    transition: 2s ease-in-out;
}

.circle-2 {
    position: relative;
    width: 477px;
    height: 477px;
    border-radius: 50%;
    /* background-color: red; */
    border-width: 3px;
    border-style: solid;
    border-color: #00eeff transparent #00eeff #00eeff;

}

/* home content animations */

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotate-circle-1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-circle-2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}




/* home section responsive */

@media screen and (min-width : 300px) and (max-width : 549px) {

    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    h1 {
        width : 100%;
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }

    .home-content p {
        width: 100%;
        font-size: 1em;
        line-height: 1.2em;
        letter-spacing: 2px;
    }

    .home-content h3{
        width:100%;
    }

    .home-img{
        position: relative;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 70%;
        display: none;

    }

    .container{
        flex-direction: column-reverse;
    }

    .profile {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 50%;
        /* background-color: #000; */
        opacity: 0;
        animation: appear 1s forwards;
        animation-delay: 1s;
    }



    .profile-pic {
        position: relative;
        border-radius: 50%;
        background-color: aliceblue;
        z-index: 1;
        background-image: url('/assets/img/');
        width: 95%;
        height: 95%;
    }

    .profile-pic:hover {
        cursor: pointer;
    }

    .circle-1 {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: red;
        border-width: 3px;
        border-style: solid;
        border-color: #00eeff #00eeff #00eeff transparent;
    }

    .profile .circle-1 {
        animation: rotate-circle-1 2s infinite;
        transition: 0.5s linear;
    }

    .profile .circle-2 {
        animation: rotate-circle-2 2s infinite;
        transition: 2s ease-in-out;
    }

    .circle-2 {
        position: relative;
        width: ;
        height: 477px;
        border-radius: 50%;
        /* background-color: red; */
        border-width: 3px;
        border-style: solid;
        border-color: #00eeff transparent #00eeff #00eeff;

    }



}

/* mobile-nav animations */


/* about css */

.about {
    position: relative;
    padding-top: 5em;
    background-color: #081c29;
    width: 100%;
    height: 100%;
    color: white;
}

@media screen and (min-width:300px) and (max-width:549px) {
    .about {
        padding-top: 5em;
    }
}

.about-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    padding: 1em 2em;
}

@media (max-width:800px) {
    .about-container {
        display: block;
        padding: 10%;
    }
}


.about-image {
    position: relative;
    width: 470px;
    height: 470px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#00eeff, #bc14ff, #00eeff, #bc14ff);
    box-shadow: 0px 0px 30px #00eeff, 0px 0px 30px#bc14ff, 0px 0px 30px#00eeff, 0px 0px 30px#bc14ff;
    animation: up-down 1.5s ease infinite;
    transition: .3s ease-in;
}

@media(max-width:800px) {
    .about-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }
}

.about-img {
    border-radius: 50%;
}

.about-content {
    position: relative;
    width: 50%;
}

@media(max-width:800px) {
    .about-content {
        margin-top: 4em;
        width: 100%;
    }
}

.about-heading {
    text-align: center;
    font-size: 3em;
    margin-bottom: 2em;
}

.about-role {
    margin-bottom: 1em;
}

.about-para {
    font-size: 1.3em;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 1em;
}


/* about animations */

@keyframes up-down {
    0% {
        transform: translateY(-20px)
    }

    50% {
        transform: translateY(20px)
    }

    100% {
        transform: translateY(-20px)
    }

}


/* project section */

.projects {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3em 10%;
    margin-top: 5em;
}

.project-container {
    display: grid;
    gap: 5% 10%;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media (max-width:1200px) {
    .project-container {
        display: grid;
        grid-template-columns: auto;
    }
}

.project {
    position: relative;
    min-width: 300px;
    max-width: 420px;
    height: max-content;
    background-color: black;
    padding-top: 5em;
    padding: 1.5em;
    border-radius: 10px;
    /* background: transparent; */
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.project::after,
.project::before {
    --angle: 0deg;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    z-index: -1;
    padding: 10px;
    transform: translate(-50%, -50%);
    background-image: conic-gradient(from var(--angle), transparent 70%, #0ef);
    animation: 3s rotate linear infinite;

}

@keyframes rotate {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.project::before {
    filter: blur(1.5rem);
}

.project-img {
    width: 100%;
    margin-bottom: 10px;
}

.project h3 {
    font-size: 1.7em;
    line-height: 1em;
    letter-spacing: 2px;
    margin-bottom: 1em;
}


.project p {
    font-size: 1.3em;
    line-height: 1.1em;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 1em;
}

.project i {
    font-size: 2em;
    margin-bottom: 1em;
}