.home-img {
    display: block;
}



.profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: #000; */
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 1s;
}



.profile-pic {
    position: absolute;
    border-radius: 50%;
    background-color: aliceblue;
    z-index: 1;
    background-image: url('/assets/img/');
    width: 95%;
    height: 95%;
}

.profile-pic:hover {
    cursor: pointer;
}

.circle-1 {
    position: absolute;
    width: 497px;
    height: 497px;
    border-radius: 50%;
    /* background-color: red; */
    border-width: 3px;
    border-style: solid;
    border-color: #00eeff #00eeff #00eeff transparent;
}

.profile .circle-1 {
    animation: rotate-circle-1 2s infinite;
    transition: 0.5s linear;
}

.profile .circle-2 {
    animation: rotate-circle-2 2s infinite;
    transition: 2s ease-in-out;
}

.circle-2 {
    position: relative;
    width: 477px;
    height: 477px;
    border-radius: 50%;
    /* background-color: red; */
    border-width: 3px;
    border-style: solid;
    border-color: #00eeff transparent #00eeff #00eeff;

}